* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    padding: 55px 8%;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.cards__wrapper {
    margin: 50px 0;
    display: flex;
    grid-gap: 15px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}